@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #111827;
}

.imagen-difuminada {
  width: 60%;
  height: auto;
  -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 80%, rgba(17, 24, 39, 0) 100%);
  mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 80%, rgba(17, 24, 39, 0) 100%);
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(5px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 1.5s ease-in-out;
}