@import "tailwindcss";


body {
  background-color: #111827;
}

.imagen-difuminada {
  width: 60%;
  height: auto;
  -webkit-mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 80%,
    rgba(17, 24, 39, 0) 100%
  );
  mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 80%,
    rgba(17, 24, 39, 0) 100%
  );
}


  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fadeIn {
    animation: fadeIn 1.5s ease-in-out;
  }

  @keyframes fadeInReverse {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fadeInReverse {
    animation: fadeInReverse 2s ease-in-out;
  }

  @layer utilities {
    @keyframes wipe-x {
      100%   { -webkit-mask-position:-50% 0%; mask-position:-50% 0%; }
      0% { -webkit-mask-position:150% 0%; mask-position:150% 0%; }
    }
    .animate-wipe-x {
      animation: wipe-x 3s linear infinite;
    }
  }

/* Closing @layer theme block */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary-900: #041d3d;
    --color-primary-800: #0a2e6b;
    --color-primary-700: #0f4c93;
    --color-primary-600: #1166b0;
    --color-primary-500: #1380d1;
    --color-primary-400: #1a9ef0;
    --color-primary-300: #4bb3f0;
    --color-primary-200: #8cc8f0;
    --color-primary-100: #cce4f0;
    --color-primary-50: #e6f2ff;

    --color-secondary-900: #fec71a;
    --color-secondary-800: #fddc4a;
    --color-secondary-700: #fce07d;
    --color-secondary-600: #fce8a0;
    --color-secondary-500: #fdf0c3;
    --color-secondary-400: #fef6e6;
    --color-secondary-300: #fef9e6;
    --color-secondary-200: #fefcfc;
    --color-secondary-100: #fefdfd;
    --color-secondary-50: #fefefe;
}

.animate-pulse-xl {
  animation: pulse-xl 3s ease-in-out infinite;
}

@keyframes pulse-xl {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}

  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .animate-img {
    animation: fadeInLeft 2s ease-in-out;
  }

  @keyframes projects {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .animate-projects {
    animation: projects 2s ease-in-out;
  }

/* Estilos personalizados para Atropos */
.atropos {
  background: transparent !important;
}

.atropos-inner {
  background: transparent !important;
}

.atropos-shadow {
  display: none !important;
}

